<!DOCTYPE html><html><head><title>流影</title><link rel="stylesheet" href="/stylesheets/style.css"><link type="text/css" rel="stylesheet" href="/package/bootstrap/dist/css/bootstrap.min.css"><link type="text/css" rel="stylesheet" href="/stylesheets/login.css"><link rel="icon" href="/images/Y.png"><script src="/package/jquery/dist/jquery.js"></script><script src="/javascripts/login.js"></script></head></html><script type="text/javascript">$(function () {
    $(".left").css('height', $(document).height());
    console.log($(document).height());
});

body
block content</script>