extends layout
block link
    link(type="text/css",rel="stylesheet",href="/stylesheets/left.css")
    link(type="text/css",rel="stylesheet",href="/stylesheets/right.css")
block content
    div.main
        div.left
            div.tophalf
            div.headpic
                img.img-circle(src="/images/head.jpg")
            h1(align="center") 影忆
            p.second 2010 我们的回忆
            ul
                li
                    a(href="/artical")
                        span(style="margin-right:5px").glyphicon.glyphicon-book
                        span 所有博客
                li
                    a(href="/artical")
                        span(style="margin-right:5px").glyphicon.glyphicon-book
                        span 个人日记
                li
                    a(href="/artical")
                        span(style="margin-right:5px").glyphicon.glyphicon-book
                        span 我的小说
                li
                    a(href="/users/personal")
                        span(style="margin-right:5px").glyphicon.glyphicon-user
                        span 个人中心
                li
                    a(href="/users/login")
                        span(style="margin-right:5px;").glyphicon.glyphicon-log-out
                        span 退出登陆
            a(href="/artical/write",role="button",style="color:yellow;width:140px;margin-left:80px;").btn.btn-success.btn-lg
                span.glyphicon.glyphicon-pencil
                span(style="padding:0 5px;") 提笔就写
        if right == "artical"
            include right
        else if right == "write"
            include write
        else if right == "detail"
            include detail
        else if right == "user/personal"
            include user/personal
