script.
    $(function () {
       $("button").click(function () {
           if($("#title").val()==''||$("#content").val()=='') {
               alert("请填写内容之后再提交！");
               return;
           } else {
               $(this).submit();
           }
       });
    });
div.right

    h1(style="text-align:left;margin:30px 0 -20px 0;color:#fff") 时光在流逝，让我们记下时间的流影
    div(style="margin:60px 0 0 -70px;")
        form.form-horizontal(method="post",action="/artical/add")
            div.form-group
                label.col-sm-2.control-label(for="title") 文章题目：
                div.col-sm-10
                    input(id="title",name="title",type="text",placeholder="文章题目",value=blog.title).form-control

            div.form-group
                label.col-sm-2.control-label(for="content") 内容详情：
                div.col-sm-10
                    textarea(id="content",name="content",rows="20").form-control #{blog.content}

            div.form-group
                div.col-sm-10.col-sm-offset-2
                    button.btn.btn-primary.btn-lg 发送

